body{
  font-size: 38;
  background-image:url('../images/background.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
img{
  padding-bottom: 200px;  
}


ul{
  list-style: none;
}

a:hover{
  background-color: grey;
}
.navigation a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-right: 15px;
}

.navigation{
  float:right;
  margin-right: 300px;
}

#main-logo{
  max-height: 180px;
  max-width: 250px;
  padding: 5px;
}

.container{
  width:80%;
  margin: auto;
}

#main-title{
  float:right 100px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 90px;
  text-align: center;
  color: red;
}




